@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://webfontworld.github.io/pretendard/Pretendard.css');

html,
body,
#root {
  font-family: 'Pretendard';
  -webkit-font-smoothing: antialiased;
  height: 100vh;
}
